.product--image {
    width: 232px;
    height: 333px;
  }
  
  .card {
    width: 232px;
    height: 333px;
    margin: auto;
    text-align: center;
    position: relative;
  }

  .card span {
    text-align: left;
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding-bottom: 11px;
  }

  .card::after {
    content: '';
    position: absolute;
    background-color: #BF0F0F;
    width: 50px;
    height: 6px;
    bottom: 15px;
    left: 15px; 
  }

  .CardSlider {
    padding-top: 50px;
    background-color: #E5E5E5;
    position: relative;
    padding-bottom: 100px;
  }

  .products-pseudo {
      position: absolute;
      width: 129.74px;
      height: 120.39px;
      left: 6px;
      bottom: -25px;
  }

  @media screen and (max-width: 700px) {
    .card span {
      text-align: left;
      position: absolute;
      left: 15px;
      bottom: 15px;
      padding-bottom: 11px;
    }
  
    .card::after {
      content: '';
      position: absolute;
      background-color: #BF0F0F;
      width: 50px;
      height: 6px;
      bottom: 15px;
      left: 15px; 
    }
  }
  