.container {
    padding: 67px 0px 90px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
    color: #fff;
}

.contact {
    padding-left: 47px;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    height: 230px;
}

.contact-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.contact-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    width: 80%;
}

.contact-element a {
    font-size: 18px;
    text-decoration: underline;
    color: #FFF;
}

.contact-element:nth-child(2) a {
    text-decoration: none;
}

.contact-element a:hover {
    color: #BF0F0F;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    padding-left: 19px;
    height: 230px;
}

.links a {
    text-decoration: none;
    color: #FFF;
}

.links a:hover {
    color: #BF0F0F;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    padding-left: 19px;
    height: 230px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.socials span {
    font-size: 14px;
}

.social-icons i:hover {
    color: #BF0F0F;
    cursor: pointer;
}

.copyright-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    color: rgba(255, 255, 255, 0.3);
    padding: 30px;
}

.copyright-content a {
    color: rgba(255, 255, 255, 0.5);
}

.copyright-content a:hover {
    color: #BF0F0F;
}

@media screen and (max-width: 1620px) {
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    .content {
        padding: 67px 0px 90px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links {
        border: none;
    }

    .socials {
        border: none;
        padding: 0;
    }

    .contact {
        border: none;
    }
}

@media screen and (max-width: 750px) {
    .copyright-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.33);
        width: 100%;
        color: rgba(255, 255, 255, 0.3);
        height: 200px;
        gap: 0.5rem;
        text-align: center;
    }
}

